/* 
녹색: #339059
진한녹색: #277045
빨간블릿: #da0f0a
wrapper 1144px

font-family: 'Rubik', sans-serif;
font-family: 'Lora', serif;
font-family: 'Aref Ruqaa', serif;
*/

/**************** 공통사항 ******************/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

html, body {font-size: 16px; height: 10000px; font-family: 'Rubik', sans-serif;}
.wrapper {width: 1100px; margin: 0 auto;}

.badge-wrap {position: relative;}
.badge {display: flex; justify-content: center; align-items: center; position: absolute; top: -8px; right: -8px;}
.badge.count {width: 16px; height: 16px; background-color: #277045; color: #f8f8f8; border-radius: 50%; font-size: 0.5em; font-weight: 300;}

.icon {position: absolute; color: #fff; font-size: 10px; padding: 0 3px;}
.icon .fas {position: absolute; bottom: -7px; left: 6px; font-size: 14px;}
.icon.red {background-color: #d41212; top: -16px; right: 0;}
.icon.red .fas {color: #d41212;}
.icon.green {background-color: #339059; top: -4px; right: -24px;}
.icon.green .fas {color: #339059;}
.icon.yellow {background-color: #f0bd14; top: -4px; right: -24px;}
.icon.yellow .fas {color: #f0bd14;}





/**************** .header-wrapper ******************/
.header-wrapper {font-family: 'Rubik', sans-serif; width: 100%; transition: top 0.5s; top: -85px;}
.top-wrapper {background-color: #339059; color: #f8f8f8; font-size: 0.75em; padding: 1em;}
.top-wrapper > .wrapper {display:flex; justify-content: space-between; align-items: center;}
.top-wrapper .link-wrap a {padding: 0.25em 1em; border-right: 1px solid rgba(255, 255, 255, 0.3);}
.top-wrapper .link-wrap a:last-child {border-right: none;}

.title-wrapper {width: 100%; position: relative;}
.title-wrapper > .wrapper {display: flex; justify-content: space-between; align-items: center;}
.title-wrapper .navi-mo-wrap {display: none; padding-left: 12px;}
.title-wrapper .navi-mo-icon {cursor: pointer;}
.title-wrapper .logo-wrap > img {max-width: 200px;}
.title-wrapper .navi-wrap {display: flex; user-select: none;}
.title-wrapper .cart-wrap {flex: 200px 0 0; display: flex;}
.title-wrapper .cart-wrap .cart .badge {display: none;}

.title-wrapper .navi-wrap > .navi {position: relative; padding: 2rem 0.75em; z-index: 9999;}
.title-wrapper .navi-wrap > .navi > .sub-wrap {position: absolute; top: 80px; left: 0; background-color: #fff; padding-bottom:1em; box-shadow: 0 4px 4px rgba(0,0,0,0.2); display: none;}

.title-wrapper .navi-wrap > .navi > .title {font-size: 0.875em; font-weight: 400; color: #333; position: relative;}
.title-wrapper .navi-wrap .fa-angle-down {font-size: 0.75em; color: #aaa;}

.title-wrapper .IMAGE .sub-wrap {display: flex; flex-wrap: wrap; width: 800px;}
.title-wrapper .IMAGE .sub {flex: 18% 0 0; margin: 1%;}
.title-wrapper .IMAGE .sub .title {text-align: center; font-weight: bold; color: #666;}
.title-wrapper .IMAGE .sub .title > span {color: #339059;}

.title-wrapper .navi.FULL {position: static !important;}
.title-wrapper .FULL .sub-wrap {width: 100%; top: 85px !important;}
.title-wrapper .FULL .sub-wrap > .wrapper {display: flex; padding: 2em 0;}
.title-wrapper .FULL .lt {flex: 75% 0 0; border-right: 1px solid #ccc;}

.title-wrapper .FULL .infos {display: flex; margin: 1em 0;}
.title-wrapper .FULL .info {flex: 22% 0 0; margin-right: 3%;}
.title-wrapper .FULL .info:not(:last-child) {border-right: 1px solid #ccc;}
.title-wrapper .FULL .info i {margin-right: 4px;}
.title-wrapper .FULL .info > .content {color: #aaa; font-size: 0.875em;}

.title-wrapper .FULL .rt {flex: 25% 0 0; padding-left: 2%;}

.title-wrapper .FULL .sub-slide {width: 100%; margin: auto;}
.title-wrapper .FULL .sub-slide .stage {position: relative; overflow: hidden;}
.title-wrapper .FULL .sub-slide .wrap {position: relative; display: flex; width: 400%;}
.title-wrapper .FULL .sub-slide .slide {position: relative; flex: 25% 0 0; text-align: center;}
.title-wrapper .FULL .sub-slide .img-wrap {position: relative; overflow: hidden; user-select: none; cursor: pointer;}
.title-wrapper .FULL .sub-slide .img-case {position: relative; display: none;}
.title-wrapper .FULL .sub-slide .img-case.active {display: block;}
.title-wrapper .FULL .sub-slide .img-case img:nth-child(2) {position: absolute; top: 0; left: 0; opacity: 0; transition: opacity 0.5s;}
.title-wrapper .FULL .sub-slide .stage:hover img:nth-child(2) {opacity: 1;}

.title-wrapper .FULL .sub-slide .bt {position: absolute; z-index:99; transition: all 0.5s;}

.title-wrapper .FULL .sub-slide .bt-quick {background-color: #111; color: #f8f8f8;
	font-size: 0.875em; padding: 0.75em;  bottom: 0; width: 100%; transform: translateY(50px);}
.title-wrapper .FULL .sub-slide .bt-quick:hover {background-color: #555;}
.title-wrapper .FULL .sub-slide .stage:hover .bt-quick {transform: translateY(0);}

.title-wrapper .FULL .sub-slide .bt-icon {height: 32px; display: flex; align-items: center; font-size: 1.25em; color: #666; opacity: 0;}
.title-wrapper .FULL .sub-slide .stage:hover .bt-icon {opacity: 1;}
.title-wrapper .FULL .sub-slide .bt-icon:hover > .popper {transform: translateX(0); opacity: 1; padding: 0.5em 0 0.5em 0.75em; width: auto; overflow: visible;}
.title-wrapper .FULL .sub-slide .bt-heart {right: 8px; top: 8px;}
.title-wrapper .FULL .sub-slide .bt-sync {right: 8px; top: 48px;}
.title-wrapper .FULL .sub-slide .bt-search {right: 8px; top: 88px;}
.title-wrapper .FULL .sub-slide .bt > .popper {background-color: #111; color: #f8f8f8; margin-right: 1em; font-size: 0.625em; transform: translateX(-20px); opacity: 0; transition: transform 0.5s, opacity 0.5s; overflow: hidden; width: 0; padding: 0;}
.title-wrapper .FULL .sub-slide .bt > .popper > i {color: #111; transform: translateX(6px); font-size: 1.5em;}

.title-wrapper .FULL .sub-slide .color {margin: 0.75em 0;}
.title-wrapper .FULL .sub-slide .color span {cursor: pointer; font-size: 1.5em; line-height: 1.5em; display: inline-block;}
.title-wrapper .FULL .sub-slide .color span.blue {color: #3ab6f0;}
.title-wrapper .FULL .sub-slide .color span.red {color: #dd3333;}
.title-wrapper .FULL .sub-slide .color span.black {color: #111;}
.title-wrapper .FULL .sub-slide .color span.yellow {color: #f1f12c;}
.title-wrapper .FULL .sub-slide .color span.active {border-bottom: 3px solid #111;}

.title-wrapper .FULL .sub-slide .slide > .title {color: #777; user-select: none;}
.title-wrapper .FULL .sub-slide .slide > .brand {color: #777; user-select: none;}
.title-wrapper .FULL .sub-slide .slide > .price {color: #222; user-select: none;}
.title-wrapper .FULL .sub-slide .slide > .price > .price-def {color: #999; text-decoration: line-through;}
.title-wrapper .FULL .sub-slide .slide > .price > .price-sale {color: #189954;}
.title-wrapper .FULL .sub-slide .slide > .title:hover {color: #333;}
.title-wrapper .FULL .sub-slide .slide > .brand:hover {color: #333; text-decoration: underline;}

.title-wrapper .FULL .sub-slide .bt-pager {color: #777; font-size: 2.5em; position: absolute; top: calc(50% - 1.25em); z-index: 99; user-select: none; cursor: pointer; transition: all 0.5s;}
.title-wrapper .FULL .sub-slide .bt-pager:hover {color: #222;}
.title-wrapper .FULL .sub-slide .bt-prev {left: 0;}
.title-wrapper .FULL .sub-slide .bt-next {right: 0;}

/** COL-type ***************************/
.title-wrapper .COL .subs {display: flex; padding: 8px 0 8px 16px;}
.title-wrapper .COL .sub {min-width: 180px;}
.title-wrapper .COL .sub {display: flex; flex-direction: column; align-items: flex-start;}
.title-wrapper .COL .sub > .title {font-weight: bold; color: #666; padding-bottom: 1em; transition: all 0.5s; cursor: pointer;}
.title-wrapper .COL .sub > .title:hover {color: #339059;}
.title-wrapper .COL .sub > .name {color: #aaa; font-size: 0.875em; padding: 0.375em 0; transition: all 0.5s; cursor: pointer;}
.title-wrapper .COL .sub > .name:hover {transform: translateX(8px); color: #339059;}

.title-wrapper .COL3.BG .sub-wrap {padding-right: 200px; background: #fff url(../img/menu-baner-1.jpg) no-repeat right bottom; background-size: auto 100%;}
.title-wrapper .COL1 .sub {flex: 100% 0 0;}
.title-wrapper .COL2 .sub {flex: 50% 0 0;}
.title-wrapper .COL3 .sub {flex: 33.3333% 0 0;}
.title-wrapper .COL3.BG .sub {flex: 25% 0 0;}
.title-wrapper .COL4 .sub {flex: 25% 0 0;}

.title-wrapper .cart-wrap i {font-size: 1.125em; color: #333;}
.title-wrapper .cart-wrap > div {margin: 0 1em;}
.title-wrapper .cart-wrap > .cart > i {margin-right: 5px;}
.title-wrapper .cart-wrap > .cart > span {font-size: 0.75em;}
.title-wrapper .cart-wrap > .cart > span.cart-price {font-weight: 500;}

/**************** search-wrapper ******************/
.search-wrapper {display: flex; align-items: center;}
.search-wrapper > .browse-wrap {flex: 30% 0 0; background-color: #277045; color: #f8f8f8; padding: 1.25em; display: flex; align-items: center; justify-content: space-between;}
.search-wrapper > .browse-wrap > .fa {transition: transform 0.5s;}
.search-wrapper > .browse-wrap:hover > .fa {transform: rotate(-180deg);}
.search-wrapper > .search-wrap {flex: 68% 0 0; margin-left: 2%; position: relative;}
.search-wrapper > .search-wrap > .input-search {width: 100%; padding: 0.75em; border-radius: 0; border: 1px solid #bbb;}
.search-wrapper > .search-wrap > .input-search:focus {outline: none;}
.search-wrapper > .search-wrap > .fa {position: absolute; top: 13px; right: 12px; font-size: 1.5em; color: #444; cursor: pointer;}

/**************** .mo-wrapper ******************/
.mo-wrapper {width: 100%; height: 100vh; position: fixed; top: 0; left: 0; z-index: 10000; background-color: rgba(0,0,0,0); transition: background-color 0.5s; display: none;}
.mo-wrapper > .mo-wrap {overflow-y: auto; width: 270px; height: 100%; position: absolute; left: -270px; top: 0; background-color: #0c0c0c; transition: left 0.5s; color: #f8f8f8;}
.mo-search-wrap {padding: 0.625em; border-bottom: 2px solid #444; position: relative;}
.mo-search-wrap .input-search {width: 100%; padding: 0.5em 1.5em; border: 1px solid #444; background-color: #252525; color: inherit;}
.mo-search-wrap .input-search:focus {outline: none;}
.mo-search-wrap .input-search::placeholder {color: inherit;}
.mo-search-wrap .fa {position: absolute; right: 24px; top: 50%; transform: translateY(-50%);}
.mo-navi-wrap {}
.mo-navi-wrap .mo-navi {border-bottom: 1px solid #222; position: relative;}
.mo-navi-wrap .mo-navi > .title {padding: 1em;}
.mo-navi-wrap .mo-navi > .mo-sub {position: relative; display: none;}
.mo-navi-wrap .mo-navi > .mo-sub > li {border-top: 1px solid #222; background-color: #171717; font-size: 0.875em; color: #ccc; cursor: pointer;}
.mo-navi-wrap .mo-navi > .mo-sub > li:hover {color: #f8f8f8;}

.mo-navi-wrap .mo-sub-navi {border-bottom: 1px solid #222; position: relative;}
.mo-navi-wrap .mo-sub-navi > .title {padding: 17px;}
.mo-navi-wrap .mo-sub-sub {position: relative; display: none;}
.mo-navi-wrap .mo-sub-sub > li {border-top: 1px solid #222; background-color: #343434; color: #ccc; cursor: pointer; padding: 17px;}
.mo-navi-wrap .mo-sub-sub > li:hover {color: #f8f8f8;}

.mo-navi-wrap .bt-down {width: 56px; height: 56px; border-left: 1px solid #222; position: absolute; top:0; right: 0; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.mo-navi-wrap .slash {transition: transform 0.5s;}
.mo-navi-wrap .slash-lt {transform: translateX(2px);}
.mo-navi-wrap .slash-rt {transform: translateX(-2px);}
.mo-navi-wrap .slash::after {display: block; content: ""; width: 12px; height: 2px; background-color: #f8f8f8;}
.mo-navi-wrap .slash-lt::after {transform: rotate(45deg);}
.mo-navi-wrap .slash-rt::after {transform: rotate(-45deg);}
.mo-navi-wrap .bt-down.active {background-color: #339059;}
.mo-navi-wrap .bt-down.active .slash-lt {transform: translateX(6px);}
.mo-navi-wrap .bt-down.active .slash-rt {transform: translateX(-6px);}
.mo-navi-wrap .mo-caret {position: absolute; color: #171717; font-size: 1.5em; left: 20px; top: -15px;}
.mo-navi-wrap .mo-sub-sub .mo-caret {color: #343434; top: -13px; left: 34px;}


/**************** .banner-wrapper ******************/
.banner-wrapper {background-color: #eee; height: 522px; position: relative;}
.banner-wrapper > .wrapper {position: relative;}
.banner-wrapper > .wrapper > .cate-wrap {position: absolute; width: 30%; height: 522px; display: flex; flex-direction: column; justify-content: space-between; z-index: 11;}

.banner-wrapper > .wrapper > .cate-wrap > .cate {flex-grow: 1; display: flex; align-items: center; justify-content: space-between; padding: 0 1.75em; font-size: 0.75em; background-color: #339059; color: #fff; font-weight: 500; cursor: pointer;}
.banner-wrapper > .wrapper > .cate-wrap > .cate:hover {background-color: #fbbc34;}

.banner-wrapper .bt {position: absolute; top: 50%; transform: translateY(-50%); color: #777; font-size: 3em; transition: all 0.5s; opacity: 0; cursor: pointer;}
.banner-wrapper .bt:hover {color: #222;}
.banner-wrapper .bt-prev {left: 12px;}
.banner-wrapper .bt-next {right: 12px;}
.banner-wrapper .slide-stage:hover .bt {opacity: 1;}

.banner-wrapper .slide-stage {position: relative; height: 100%; /* overflow: hidden; */ z-index: 10;}
.banner-wrapper .slide-wrap {width: 300%; height: 100%; display: flex; position: relative;}
.banner-wrapper .slide {flex: 33.3333% 0 0; height: 100%; background-position: center top; background-size: cover; background-repeat: no-repeat; display: flex; flex-direction: column; justify-content: center; align-items: center; user-select: none; cursor: grab;}
.banner-wrapper .slide .slogan {font-family: 'Lora', serif; font-style: italic; color: #339059; font-size: 1.5em;}
.banner-wrapper .slide .title {font-size: 3em; color: #333; padding: 0.5em;}
.banner-wrapper .slide .price {font-size: 8em; color: #ddd; padding: 0.125em;}
.banner-wrapper .slide .bt-banner {border: 1px solid #222; font-size: 0.875em; padding: 0.75em 1.5em; color: #444; transition: all 0.5s; background-color: #f8f8f8; outline: none;}
.banner-wrapper .slide .bt-banner:hover {background-color: #222; color: #f8f8f8;}
.banner-wrapper .slide.active {width: 100%; position: absolute; top: 0; left: 0; opacity: 0; transition: none !important; transform: none !important;}

/**************** .middle-wrapper ******************/
.middle-wrapper {display: flex; margin: 3em auto; justify-content: space-between;}
.middle-wrapper .middle {flex: 23% 0 0; overflow: hidden; cursor: pointer; position: relative;}
.middle-wrapper .middle:nth-child(2) {flex: 48.2% 0 0;}
.middle-wrapper .middle img {transition: all 0.75s;}
.middle-wrapper .middle:hover img {transform: scale(1.2);}

.middle-wrapper .middle .title-wrap {position: absolute; bottom: 1em; left: 1em; background-color: rgba(0,0,0,0.6); color: #f8f8f8; padding: 1em 2em;}
.middle-wrapper .middle .title-wrap .title {font-family: 'Aref Ruqaa', serif; font-size: 1.5em; border-bottom: 1px solid #f8f8f8; line-height: 1.5em; white-space: nowrap;}
.middle-wrapper .middle .title-wrap .slogan {font-size: 0.75em; font-weight: 300; text-align: center; margin: 0.75em 0;}

.middle-wrapper .middle:first-child .title-wrap {left: 50%; transform: translateX(-50%);}








/**************** 반응형 ******************/



/**************** 반응형 ******************/
@media screen and (max-width: 1199px) {
	.wrapper {width: 900px;}
}
@media screen and (max-width: 991px) {
	.wrapper {width: 700px;}
	.top-wrapper > .wrapper {justify-content: center;}
	.top-wrapper .link-wrap {display: none;}
	.title-wrapper {padding: 0.5em 0;}
	.title-wrapper .navi-mo-wrap {flex: 25% 0 0; display: block;}
	.title-wrapper .logo-wrap {flex: 50% 0 0; text-align: center;}
	.title-wrapper .navi-wrap {display: none;}
	.title-wrapper .cart-wrap {flex: 25% 0 0; justify-content: flex-end;}
	.title-wrapper .cart-wrap .cart .badge {display: block;}
	.title-wrapper .cart-wrap .cart .cart-cnt {display: none;}
	.title-wrapper .cart-wrap span {display: none;}
	.search-wrapper {display: none !important;}
	.banner-wrapper > .wrapper {display: none;}
}
@media screen and (max-width: 767px) {
	.wrapper {width: 500px;}
}
@media screen and (max-width: 575px) {
	.wrapper {width: 98%;}
	.title-wrapper {padding: 0.75em 0;}
	.title-wrapper .navi-mo-wrap {flex: 35% 0 0;}
	.title-wrapper .logo-wrap {flex: 30% 0 0;}
	.title-wrapper .cart-wrap {flex: 35% 0 0;}
}
